.prompt-content {
    max-height: 8em;
    overflow: hidden;
}

.prompt-content pre {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.tag {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #6c757d;
    text-decoration: none;
    margin-right: 0.5rem;
}

.tag:hover {
    color: #fff;
    background-color: #5a6268;
}